html {
  position: relative;
  min-height: 100%;
  background-color:#D1D8DB;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
  background-color:transparent;
}

a {
  color: #35A5AD;
  text-decoration: none;
}

a:hover {
  color: #39B1BA;
  text-decoration: underline;
}

.navbar-fixed-top {
  position: absolute;
}

.navbar-default {
  background-color:rgba(255,255,255,0.25);
  border:none;
}

.navbar-default .navbar-brand {
  color:#FFF;
}

.navbar-default .navbar-brand:hover {
  color:#FFF;
}

.navbar-default .navbar-nav > li > a {
  color: #FFF;
}

.navbar-default .navbar-nav > li:hover > a {
  color: #FFF;
  background-color:rgba(255,255,255,0.15);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color:rgba(255,255,255,0.15);
  color: #FFF;
}

.nav, .pagination, .panel-title a { cursor: pointer; }

/* ng-view animation */
main {
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.ng-enter {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.ng-leave {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

.main-container {
  padding-top: 30px;
  border-top: 50px solid #8069BF;
}

.jumbotron {
  padding-top: 98px;
  background-color:#6A638D;
  background-image:url(../img/jumbotron.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  color:#FFF;
}

/* Buttons */
.btn-primary {
  color: #FFF;
  background-color: #35A5AD;
  border-color: #35A5AD;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #FFF;
  background-color: #39B1BA;
  border-color: #39B1BA;
}

/* Panels */
.panel-default {
  background: #FFF;
  border:none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4),
                      inset 0 -3px 1px 0 rgba(0, 0, 0, 0.12);
     -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4),
                      inset 0 -3px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4),
                      inset 0 -3px 1px 0 rgba(0, 0, 0, 0.12);
}

.panel-default > .panel-heading {
  color: #565A96;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: 5px solid #565A96;
  border-bottom:1px solid #EEE;
  padding:20px 30px;
  background:0 0 no-repeat;
  background-size:cover;
}

.panel-default > .panel-heading:first-child {
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.panel-body {
  padding:20px 30px;
}

/* Admin */
.selected-ingredients .label {
  margin:0 2px;
}

.admin-list {

}

.admin-list-item {
  display:block;
  padding:5px 0;
  border-bottom:1px solid #EEE;
}

.admin-item-title {
  line-height:30px;
}

.admin-item-actions {

}

.admin-item-actions .form-control {
  width:100px;
  display:inline-block;
}

button.admin-list-close {
  padding: 6px 10px;
  float: none;
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #FFF;
  border:none;
  /* Set the fixed height of the footer here */
  height: 60px;
}

footer .text-muted {
  margin: 20px 0;
}
