html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}

.navbar-fixed-top {
  position: absolute;
}

.nav, .pagination, .panel-title a { cursor: pointer; }

.main-container {
  padding-top: 70px;
}

/* Home Page */
.jumbotron {
  padding-top: 98px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

footer .text-muted {
  margin: 20px 0;
}
