html {
  background-color:#D1D8DB;
}

body {
  background-color:transparent;
}

.navbar-default {
  background-color:rgba(255,255,255,0.15);
  border:none;
}

.navbar-default .navbar-brand {
  color:#FFF;
}

.navbar-default .navbar-brand:hover {
  color:#FFF;
}

.navbar-default .navbar-nav > li > a {
  color: #FFF;
}

.navbar-default .navbar-nav > li:hover > a {
  color: #FFF;
  background-color:rgba(255,255,255,0.15);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color:rgba(255,255,255,0.15);
  color: #FFF;
}

.jumbotron {
  background-color:#6A638D;
  background-image:url(../img/jumbotron.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  color:#FFF;
}

.btn-primary {
  color: #FFF;
  background-color: #35A5AD;
  border-color: #35A5AD;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #FFF;
  background-color: #39B1BA;
  border-color: #39B1BA;
}

.panel-default {
  background: #FFF;
  border:none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4),
                      inset 0 -3px 1px 0 rgba(0, 0, 0, 0.12);
     -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4),
                      inset 0 -3px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4),
                      inset 0 -3px 1px 0 rgba(0, 0, 0, 0.12);
}

.panel-default > .panel-heading {
  color: #565A96;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: 5px solid #565A96;
  border-bottom:1px solid #EEE;
  padding:20px 30px;
  background:0 0 no-repeat;
  background-size:cover;
}

.panel-default > .panel-heading:first-child {
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.panel-body {
  padding:20px 30px;
}

footer {
  background-color: #FFF;
  border:none;
}
