<div class="main-container">
  <div class="container">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">New Margarita</h3>
        </div>

        <div class="panel-body clearfix">
          <form role="form">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" ng-model="marg.title" class="form-control" id="title" placeholder="Title">
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" ng-model="marg.description" class="form-control" id="description" placeholder="Description">
            </div>

            <div class="form-group">
              <label for="ingredients">Ingredients</label>
              <div>Placeholder</div>
            </div>

            <div class="form-group">
              <label for="instructions">Instructions</label>
              <div>Placeholder</div>
            </div>

            <button type="submit" class="btn btn-primary pull-right" ng-click="createMargarita(marg)">Create</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Margaritas</h3>
        </div>

        <div class="panel-body">
          <ul class="admin-list list-unstyled">
            <li class="admin-list-item clearfix" ng-repeat="margarita in margaritas.models track by margarita.id">
              <span class="marg-title">{{margarita.title}}</span>
              <span class="marg-actions pull-right">
                <button role="button" class="btn btn-danger btn-sm" ng-click="deleteMargarita(margarita)">Delete</button>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
