<div class="main-container">
  <div class="container">
    <div class="row">
      <!-- Margaritas -->
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="btn btn-primary btn-sm pull-right" href="/#/margaritas/create">Create</a>
            <h3 class="panel-title">Margaritas</h3>
          </div>

          <div class="panel-body">
            <ul class="admin-list list-unstyled">
              <li class="admin-list-item clearfix" ng-repeat="margarita in margaritas.models track by margarita.id">
                <span class="admin-item-title">{{margarita.title}}</span>
                <span class="admin-item-actions pull-right">
                  <a class="btn btn-default btn-sm" href="/#/margaritas/edit/{{margarita.id}}">Edit</a>
                  <a class="btn btn-danger btn-sm" ng-click="deleteMargarita(margarita)">Delete</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Ingredients -->
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">New Ingredient</h3>
          </div>

          <div class="panel-body clearfix">
            <form role="form">
              <div class="form-group">
                <label for="name">Name</label>

                <div class="input-group">
                  <input type="text" ng-model="ingred.name" class="form-control" id="name" placeholder="Name">

                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default pull-right" ng-click="saveIngredient(ingred)">Save</button>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Ingredients</h3>
          </div>

          <div class="panel-body">
            <ul class="admin-list list-unstyled">
              <li class="admin-list-item clearfix" ng-repeat="ingredient in ingredients.models track by ingredient.id">
                <span class="admin-item-title">{{ingredient.name}}</span>
                <span class="admin-item-actions pull-right">
                  <button role="button" class="btn btn-default btn-sm" ng-click="editIngredient(ingredient)">Edit</button>
                  <button role="button" class="btn btn-danger btn-sm" ng-click="deleteIngredient(ingredient)">Delete</button>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
