<div class="jumbotron">
  <div class="container">
    <h1>Delicious Margaritas</h1>
    <p>Just have one single call to action here, not both. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque deleniti error vero repellendus.</p>
    <p>
      <a class="btn btn-lg btn-primary" href="" role="button">Browse Margaritas</a>
    </p>
  </div>
</div>

<div class="container">
  <!-- Recipe Grid -->
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-4" ng-repeat="margarita in margaritas.models track by margarita.id">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="#/margaritas/{{margarita.id}}">{{margarita.title}}</a>
          </h3>
        </div>

        <div class="panel-body">
          <pre ng-show="debug">{{margarita | json}}</pre>

          <p>Rating: {{margarita.rating}}</p>
          <p>Desc: {{margarita.description}}</p>
          <!--
          <p>Creator: {{margarita.createdBy}}</p>
          <p>Created: {{margarita.createdAt | date:'longDate'}}</p>
          <p>Updated: {{margarita.updatedAt | date:'longDate'}}</p>
          -->
          <p>
            <a href="#/margaritas/{{margarita.id}}" class="btn btn-primary" role="button">View Margarita</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
