<div class="main-container">
  <div class="container">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-sm-4 col-md-3 col-lg-3">
        <div class="list-group">
          <span class="list-group-item">Filter by Ingredient</span>
          <a href="" class="list-group-item" ng-repeat="ingredient in filteredIngredients | orderBy:'-count':false track by ingredient.id">
            <span class="badge">{{ingredient.count}}</span>
            {{ingredient.name}}
          </a>
        </div>
      </div>

      <div class="col-sm-8 col-md-9 col-lg-9">
        <!-- Searching & Filtering -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel">
              <div class="panel-body">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <label class="sr-only" for="search">Search</label>
                    <input type="search" class="form-control" id="search" ng-model="search.query" placeholder="Search">
                  </div>

                  <div class="form-group pull-right">
                    <label for="sort">Sort by</label>

                    <select class="form-control" id="sort" ng-model="sort">
                      <option value="-rating">Rating (Desc)</option>
                      <option value="+rating">Rating (Asc)</option>
                      <option value="-createdAt">Created At (Desc)</option>
                      <option value="+createdAt">Created At (Asc)</option>
                    </select>
                    <!-- <select class="form-control" id="sort">
                      <option>Rating</option>
                      <option>Newest</option>
                    </select> -->

                    <!-- <button class="btn btn-default" role="button" ng-click="reverseSort = false">Asc</button>
                    <button class="btn btn-default" role="button" ng-click="reverseSort = true">Desc</button> -->
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div>
          {{counted}} margaritas out of {{margaritas.models.length}}
        </div>

        <!-- Recipe Grid -->
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-4" ng-repeat="margarita in filteredMargs | orderBy:sort:reverseSort track by margarita.id">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a href="#/margaritas/{{margarita.id}}">{{margarita.title}}</a>
                </h3>
              </div>

              <div class="panel-body">
                <pre ng-show="debug">{{margarita | json}}</pre>

                <p>Rating: {{margarita.rating}}</p>
                <p>Desc: {{margarita.description}}</p>
                <!--
                <p>Creator: {{margarita.createdBy}}</p>
                <p>Created: {{margarita.createdAt | date:'longDate'}}</p>
                <p>Updated: {{margarita.updatedAt | date:'longDate'}}</p>
                -->
                <p>
                  <a href="#/margaritas/{{margarita.id}}" class="btn btn-default" role="button">View Margarita</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
