<div class="main-container">
  <div class="container">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-sm-4 col-md-3 col-lg-3">
        <div class="list-group">
          <a href="" class="list-group-item" ng-repeat="ingredient in ingredients.models track by ingredient.id">
            <span class="badge">{{$index + 10}}</span>
            {{ingredient.name}}
          </a>
        </div>
      </div>

      <div class="col-sm-8 col-md-9 col-lg-9">
        <!-- Searching & Filtering -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="well">Search &amp; Sort controls go here</div>
          </div>
        </div>

        <!-- Recipe Grid -->
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-4" ng-repeat="margarita in margaritas.models track by margarita.id">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a href="#/margaritas/{{margarita.id}}">{{margarita.title}}</a>
                </h3>
              </div>

              <div class="panel-body">
                <pre ng-show="debug">{{margarita | json}}</pre>

                <p>Rating: {{margarita.rating}}</p>
                <p>Desc: {{margarita.description}}</p>
                <!--
                <p>Creator: {{margarita.createdBy}}</p>
                <p>Created: {{margarita.createdAt | date:'longDate'}}</p>
                <p>Updated: {{margarita.updatedAt | date:'longDate'}}</p>
                -->
                <p>
                  <a href="#/margaritas/{{margarita.id}}" class="btn btn-default" role="button">View Margarita</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
