<div class="main-container">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{activeMarg.title}}</h3>
      </div>

      <div class="panel-body">
        <p>{{activeMarg.description}}</p>

        <div class="single-ingredients">
          <ul class="ingredient-list">
            <li class="ingredient" ng-repeat="ingredient in activeMarg.ingredients">
              <span class="ingredient-amount">{{ingredient.amount}}</span>
              <span class="ingredient-unit">{{ingredient.unit}}</span>
              <span class="ingredient-name">{{ingredient.name}}</span>
            </li>
          </ul>
        </div>

        <div class="single-instructions">
          <ol class="instruction-list">
            <li class="instruction" ng-repeat="instruction in activeMarg.instructions">
              <span class="instruction-text">{{instruction}}</span>
            </li>
          </ol>
        </div>

        <div class="single-meta clearfix">
          <div class="single-rating">
            <span class="single-rating-count">{{activeMarg.rating}}</span>
            <span class="single-rating-icon"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
